html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.petrac {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000; /* ou cor do dashboard */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.petrac iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
